body {
  font-family: 'open sans', sans-serif;
}

/* NAVI CSS */

nav {
  background-color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  width: 100%;
}

.topNav {
  display: flex;
  text-decoration: none;
  margin-right: 40px;
  align-items: center;
  padding: 8px;
  color: #7AA2AD;   
  
}
  
.logo {
  width: 80px;
  background-color: white;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 12px;
}
  

/* HERO CSS */

#intro {
  background-color: #E0D3D4;
  margin-left: 80px;
  margin-top: 10px;
}
  
.categoryGridArea { 
  background-color: #E0D3D4;
  width: 100%;
  height: 100%;
  margin: 0px;
}
  
.hiVivian {
  display:inline-block;
}

.about {
  display:inline-block;
} 

h1 {
  font-family: 'Playfair Display';
  font-size: 94px;
  font-weight: 100;
  letter-spacing: 2px; 
  float: left;
  color: white;
} 

h2 {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 38px;
  font-weight: 100;
  letter-spacing: 1px; 
  float: left;
  color:#7E6266;
} 

/* CASE STUDY CSS */ 

#caseStudyArea {
  
  background-color:WHITE;
  margin-top: 20px;
}

.caseStudy {  
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0px;
}

#casestudyHeader {
  text-align: center;
}

#epa {
  display: inline-block;
}

h3 {
  font-family: 'Playfair Display';
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 1px; 
  box-align: center;
  color:#856E71;
} 


/* FOOTER CSS */

.footer {  
  display: flex;
  background-color: #747474;
  padding: 10px;
  color: rgb(250, 241, 226);
  justify-content: flex-start;
  width: 100%;
  align-items: center;

}

.footer li {  
  font-size: 12px;
  font-weight: lighter;
  display: inline-block;
}

.socialIcons{
  float: left;
}