  body {
    font-family: 'open sans', sans-serif;
  }

  nav {
    background-color: white;
    display: inline-block;
   
  }

  .topNav {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: left;
    padding: 14px;
  }
  
  .logo {
    width: 50px;
    background-color: white;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    padding: 8px;
  }
  
  #heroImg {
    width: 30%;
    padding: 10px
  }
  
  h1 {
    font-family: garamond;
    font-size: 40px;
    font-weight: 200;
  }

  h2 {
    font-family: open sans;
    font-size: 18px;
    font-weight: 200;
    line-height: 34px;
  }

  .content {
    width: flex;
    margin: 0 auto;
    padding: 40px;
    background-color: #DECCCE;
  }

  .footer {
    background-color: #373738;
    padding: 2px;
    color: rgb(250, 241, 226);
    justify-content: center;
  }

  .footer ul {
    display: inline-block;
    vertical-align: top;
    height: 80px;
  
  }