  body {
    font-family: 'open sans', sans-serif;
  }

  nav {
    background-color: white;
    display: inline-block;
  }

 .topNav {
    vertical-align: top;
    text-decoration: none;
    width:73%;
    padding: 1%;
    float: left;
  }

  .logo {
    width: 23%;
    padding: 1%;
    align-items: ;
    text-align: center;
    background-color: white;
  }

  ul {
    width: 100%;
    margin-left: auto;
    list-style-type: none;
  }

  li {
    margin-left: auto;
    display: inline;
    padding: 8px;
    float: right;
  }
  
  .heroImg {
    height: 30%;
    padding: 10px
  }
  
  h1 {
    font-family: garamond;
    font-size: 40px;
    font-weight: 200;
  }

  h2 {
    font-family: open sans;
    font-size: 18px;
    font-weight: 200;
    line-height: 34px;
  }

  .content {
    width: flex;
    margin: 0 auto;
    padding: 40px;
    background-color: #DECCCE;
  }

  .footer {
    background-color: #373738;
    padding: 2px;
    color: rgb(250, 241, 226);
  }

  .footer ul {
    display: inline-block;
    vertical-align: top;
    height: 80px;
  }