/* body {
  font-family: 'Roboto';
  color: #7AA2AD;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px; 
} */

/* NAVI CSS */
header {
  position: sticky;
  top: 0px;
  background-color:rgba(255, 255, 255);
  padding: 24px; 
}
/* mouse over link */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 4%;
}

p a:hover {
  color: #856E71;
  text-decoration: none;
  font-weight: 400;
}

a:link {
  color: #7AA2AD;
  text-decoration: none;
}

a:visited {
  color: #7AA2AD;
  text-decoration: none;
}

#logo {
  display: flex;
  width: 70%;
}

#navigation {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Roboto';
  color: #7AA2AD;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px; 
}

#navigation p {
  cursor: pointer;
}


/* HERO CSS */

#intro {
  background-color:#E8C4B7; 
  padding: 0 80px;
}
  
.heroGridArea {  
  width: 100%;
  height: 100%;
  margin: 0px;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 75% 25%;
  grid-template-areas:
  "hiViv hiViv"
  "about vivPic"
 
}

#hiViv {
  grid-area: hiViv;
  float: left; 
  margin-top: 40px;
} 

#about {
  grid-area: about;
  margin-top: 40px;
} 

#vivPic {
  grid-area: vivPic;
} 

#downArrow {
  grid-area: downArrow;
  padding-bottom: 50px;
  margin: 0px 50%;
}

#bounceArrow {
  animation: bounceArrow .7s infinite;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 2px; 
  color: white;
} 

h2 {
  font-family: 'Playfair Display';
  font-size: 40px;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px; 
  color:#5F422B;
} 


/* CASE STUDY CSS */ 


h3 {
  font-family: 'Playfair Display';
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 1px; 
  color:#856E71;
  text-align: center;
  padding-top: 80px;
} 

.casestudyBg {
  background-color:#F8F7F4;
  padding:22px;
  margin: 0px;
}

#casestudyGrid {
  margin: 0px ;
  display: grid;
  padding: 40px;
  grid-template-rows: 500px 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "epa buzzle"
  "feedoc esytrek";
}

#epa {
  grid-area: epa;
  background-image: url("../images/EPA-card.png");
}

#buzzle {
  grid-area: buzzle;
  background-image: url("../images/buzzle-card.png");
}

#feedoc {
  grid-area: feedoc;
  background-image: url("../images/feedoc-card.png");
}

#esytrek {
  grid-area: esytrek;
  background-image: url("../images/easytrek-card.png");
}


.casestudyGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px;
  cursor: pointer;
  display: grid;
  align-content: top;
}

.heading {
  font-family: 'Playfair Display';
  font-size: 46px;
  font-weight: 100;
  letter-spacing: 4;
  text-align: top;
  padding: 10px 35px;
  height: 10px;
  color: white;
  position: absolute;
  max-width: 550px;
  z-index: auto;
}

h5 {
  font-family: 'Roboto';
  color: white;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px; 
  text-align: top;
  color: white;
  position: absolute;
  padding: 52px 38px;
  line-height: 22px;
}

/*CONTACT  FORM*/

.contactBg {
  background-image: linear-gradient(to bottom, rgba(232,245,252,1), rgba(252,238,231,1));
  padding:22px;
  margin: 0px;
}

.block_element {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

input {
  display: inline-block;
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid#7BC3D8;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color:#7BC3D8;
  border:1px solid #7BC3D8;
}

h4 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px; 
  color:#7D8D8D;
  text-align: center;
  line-height: 170%;
} 

input[type=textarea] {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  background-color:white;
  resize: none;
}

.submit {
  margin-top: 20px;
  font-size: 10pt;
  background-color: #E98F76;
  border: 1px solid #E98F76;
  width: 200px;
  color: #7AA2AD;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 20px;
  align-content: center;
  margin-bottom: 140px;
}

/* FOOTER CSS */

#footer {
  color: #7AA2AD;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0px 4%;
  padding: 30px; 
  font-family: 'Roboto';
  color: white;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px; 
}

#socialIcons{
  margin-right: 100px;
  display: flex;
  width: 70%;
}

footer {
  background-color:#424545; 
}



/* .preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
}
.preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 200px;
  margin: 0 auto;
} */

.bounceMe {
  animation: bounceArrow .7s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}


@keyframes bounceArrow {
  from {
    margin-top: 0px;
  }
  50% {
    margin-top: 7px;
  }
  to {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
    width: 100%;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr; 
    grid-template-areas: "epa buzzle"
    "feedoc esytrek";
  }
}

